{% extends 'todo/base.html' %}
{% block content %}
     <div  style="width:70%;height:80%;color: lightskyblue;padding-top: 10%;">
          <p style="padding-left:40%;font-size: 2rem" class="lo">upGrad is an online higher education platform providing rigorous industry-relevant programs designed and delivered in collaboration with world-class faculty and industry. Merging the latest technology, pedagogy, and services, upGrad is creating an immersive learning experience – anytime and anywhere.</p>

          </div>
 <p style="padding-left:27%;padding-top:5%;font-size: 3rem;color: lightpink;font-family: cursive"  >&copy;  any quiries contact todo_upGrad@gmail.com</p>
 <p style="padding-left:27%;font-size: 3rem;color: darkcyan" class="lo">contact +91 8096297339</p>


{% endblock  %}