{% extends 'todo/base.html' %}
{% block content %}
  {{ l }}
     <div  style="width:100%;height:100%;font-family: Comic Sans MS, cursive, sans-serif;color: lightskyblue;padding-top: 10%;">
              <p style="font-size:4rem;color:lightpink;padding-left: 35%    " ><strong>ADD TASK</strong></p>


       {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

              <form method="post" enctype="multipart/form-data" style="font-size: 2rem;padding-left: 35%">
    {% csrf_token %}
   <p><label for="id_task">Task:</label> <input type="text" name="task" maxlength="255" id="id_task" required></p>
                  <p>date:<input type="date" name="date" placeholder="YYYY-MM-DD" min="{{ d }}" /></p>
<p><label for="id_time">Time:</label> <input type="time" name="time" required id="id_time" value="{{ h }}" ></p>
     <br><button type="submit" class="btn-round btn btn-success  d-inline-flex" style="font-size: 1.75rem">Add</button>
  </form>


  </form>


     </div>

{% endblock  %}
